@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Grand Circus Student Portal!</h1>
        <p>
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </p>
</div>
